<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/css1.css" %}">
  </head>
  <body>

    <h1>Movies Information</h1>
    {% if movies_list %}
          <table>
              <thead>
                <th>Released date</th>
                <th>Movie Name</th>
                <th>Hero</th>
                <th>Heroine</th>
                <th>Rating</th>
              </thead>
              {% for movies in movies_list %}
              <tr>
                  <td>{{movies.rdate}}</td>
                  <td>{{movies.moviename}}</td>
                  <td>{{movies.hero}}</td>
                  <td>{{movies.heroinename}}</td>
                  <td>{{movies.rating}}</td>
              </tr>
              {% endfor %}
          </table>
      {% else %}
      <p>No Movie Found </p>
      {% endif %}
  </body>
</html>
